body {background-image: url('b3.jpg');
      background-size: cover;
      height: 100vh;
      padding:0;
      margin:0;
      z-index: -1;
      cursor: url('c.png'), auto;}

* {
    cursor:url("c.png"),default;
}





* {
  color: #ffffff
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.neonText {
  color: #FF1818;
  text-shadow:
      0 0 7px #FF1818,
      0 0 10px #FF1818,
      0 0 21px #FF1818,
      0 0 42px #FF1818,
      0 0 82px #FF1818,
      0 0 92px #FF1818,
      0 0 102px #FF1818,
      0 0 151px #FF1818;
}


span:hover {
  color: #8f0606;
}



@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated, body {
  opacity: 0;
  animation: fadeIn 2s forwards; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



.card-container {
	background-color: #141417;
	border-radius: 10px;
        border-color: #de1616
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	padding-top: 10px;
        padding-bottom: 10px;
	position: absolute;
	width: 560px;
	max-width: 100%;
	text-align: center;
        font-size: 20px;

}


.card-container2 {
	background-color: #141417;
	border-radius: 10px;
        border-color: #de1616
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	padding-top: 1px;
        padding-bottom: 1px;
	position: absolute;
	width: 560px;
	max-width: 100%;
	text-align: center;
        font-size: 20px;

}


.centering {
  margin: 0;
  position: absolute;
   top: 50%;
  right: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.centers {
  margin: 0;
  position: absolute;
  top: 80%;
  right: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.container img {
  object-fit: contain;
/* or
  object-fit: cover; */
} 



.circle {
      background-color: #141417;
      width: 200px;
      height: 200px;
      border-radius: 50%;
 }
